.create-container{
    background-image: linear-gradient(120deg, #7c4b1a 0%, #7c4b1a2d 100%);
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    height: 1200px;
    width: 52%;
}

.form-title{
    color: #f4e4c8;
    font-size: 40px;
    font-style: italic;
    text-transform: capitalize;
    text-align: center;
}

.form-texts {
    text-align: center;
    
}

.form-fields{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.label {
    flex: 0 0 100px;
    text-align: left;
    margin-left: 50px;
    color: #f4e4c8;
}

.input-buscar {
    flex: 0.5;
    padding: 10px;
    border-radius: 1rem;
    color: #3a4d1c;
    margin-left: 20px;
    border: 1px solid #e5e5e5;
}

.errores {
    color: #fc0d0d; 
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.title-temper{
    text-align: center;
    margin: 10px;
}
.form-checks {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.type-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
}

.checkbox-types {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    color: #f4e4c8;
}

.btns-container{
    display: flex;
    justify-content: space-around;
}

.btn-form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-create {
    min-width: 130px;
    height: 40px;
    color: #f4e4c8;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a4d1c;
    box-shadow: 0 5px #212b10;
  }
  .btn-create:hover {
    box-shadow: 0 3px #212b10;
    top: 1px;
  }
  .btn-create:disabled {
    min-width: 130px;
    height: 40px;
    color: #f1eee7;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #858b7bfb;
    box-shadow: 0 5px #73796a;
  }
  .btn-create:active {
    box-shadow: 0 0 #212b10;
    top: 5px;
  }